[Unit]
Description=Resin Print Portal
After=network.target

[Service]
Environment=PYTHONUNBUFFERED=1
User=www-data
WorkingDirectory=/opt/RPP
ExecStart=/opt/RPP/venv/bin/python3 /opt/RPP/rpp.py
Restart=always

[Install]
WantedBy=multi-user.target
